// Background image settings
$home-image: url(../img/background.jpg);
$background-opacity: 0.9;

// These variables are for the BUTTON element
$color-white: #ffffff;
$color-light: #f1f5f8;
$color-dark: #252a32;
$color-red: #d32f2f;
$color-blue: #148cb8;
