@import "coursework_config";
@import "materialize.scss";

body {
  //display: flex;
  //min-height: 100vh;
  background: $home-image;
  background-size: cover;
  opacity: $background-opacity;
}

main {
  padding: 4rem;
  min-height: calc(100vh - 140px);
  // flex: 1 0 auto;

  #hero_text {
    font-size: 15px;
  }

  .row {
    margin-top: 2rem;
  }

  .card-title {
    color: #0000;
  }

  .hero img {
    height: 300px;
    width: 300px;
  }
}

h4 {
  color: $primary-color;
  padding: 2rem;
  background: white;
  text-align: center;
}

// Projects Page
.projects {
  img {
    padding-bottom: 1rem;
    max-width: 300px;
  }
  .flow-text {
    background: #fff;
    padding: 1rem;
  }
  .divider {
    max-width: 50%;
    margin: auto;
  }
}

// Footer
footer {
  padding-left: 10px;

  a {
    color: #fff;
    text-decoration: none;
  }
}
